<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
</head>
<body>


<div align="center">
<h1>Stock Report</h1>
 <table>
        <thead>
            <tr>
            	<th width="100px">SR. No</th>
                <th width="100px">Item</th>
                <th width="100px">Units</th>
                <th width="75px">Expiry</th>
                <th width="75px">Batch</th>
            </tr>
        </thead>
        <tbody id="ttbody">

            <tr>
            <td>Synflex</td>
            <td>2880</td>
            <td>12/2030</td>
            <td>1290</td>
  </tr>    
            <tr>
            <td>Krotam</td>
            <td>40</td>
            <td>12/2023</td>
            <td>12300</td>
  </tr>    
            <tr>
            <td>Synflex</td>
            <td>144</td>
            <td>12030</td>
            <td>1200</td>
  </tr>    
            <tr>
            <td>Musidin 6Mg</td>
            <td>200</td>
            <td>130</td>
            <td>120</td>
  </tr>    
            <tr>
            <td>Krotam</td>
            <td>10</td>
            <td>120</td>
            <td>120</td>
  </tr>    
                    </tbody>
    </table>
Price of stock: <h4 id="ts">0</h4>
</div>

                    
</body>
</html>
